%p#notice= notice

.container
  .col-md-6
    .panel.panel-default
      .panel-body
        This is your team
      %table.table
        %tr
          %th Hacker
          %th Email
          %th School

        - @team.hackers.each do |hacker|
          %tr
            %td= hacker.first_name + ' ' + hacker.last_name
            %td= hacker.email if hacker.email
            %td= hacker.school.name if hacker.school
  .col-md-6
    .panel.panel-default
      .panel-body
        Add teammates now!
