.header
  .container
    = image_tag 'logodark.png', class: 'logo'
    %a#logout.button.outline{:style => "cursor:pointer;"} Log Out
.head
  %h1 WELCOME
.nav
  = link_to dashboard_path do
    .nav-notactive
      Application
  = link_to team_path(current_user.team_id) do
    .nav-active
      Team
.container
  .application.team
    %h1 Teammates
    .form
      #hacker1.input
        .label
          Jony Ive
        %input{:type => "text", :value => "jive@apple.edu"}/
      #hacker2.input.empty
        .label
          Invite Friend
        %input{:type => "text", :value => ""}/
        %a.send
          Send Invite
      #hacker3.input.empty
        .label
          Invite Friend
        %input{:type => "text", :value => ""}/
        %a.send
          Send Invite
      #hacker4.input.empty
        .label
          Invite Friend
        %input{:placeholder => "Email", :type => "text", :value => ""}/
        %a.send
          Send Invite
      .divider
      #invitelink.input
        .label
          Invite Link
        %input{:readonly => "", :type => "text", :value => ""}/
