.forgotpassword-reset
  %h1 Let's get you back up and running.
  %p Enter a password that you'll love.
  = form_for @user, url: password_reset_path(params[:id]) do |f|
    .field
      = f.password_field :password, {class: 'flat-input', placeholder: 'New Password'}
    .field
      = f.password_field :password_confirmation, {class: 'flat-input', placeholder: 'Confirm New Password'}
    .actions
      = f.submit "Update Password", {class: 'flat-button submit'}
