On October 17-19, 500 students will join together at BoilerMake to shatter the standard model for hackathons. If challenges motivate you to persevere, if dreaming keeps you up at night, and if 'good' isn't good enough, you're exactly who we're looking for. Together, we're going to make hackathon history.

Thank you for intializing your Earlybird application. Here's what you need to know:

%h3 What's different about BoilerMake?
%ul
  %li We're intentionally mid-sized. Unlike larger hackathons, you won't get lost in the crowd. You'll love the benefits of our smooth organization, premium accommodations, and the unique opportunities we offer to meet every sponsor.
  %li We're blowing up the standards for hackathon spaces. Say goodbye to rows of lined tables or multiple rooms of hackers and hello to massive innovation. Stay tuned for more detail.
%h3 What does it mean to be an Earlybird applicant?
%ul
  %li You're going to get an exclusive laptop decal mailed straight to your doorstep. And it's going to be sweet.
  %li Being an Earlybird applicant does not imply priority consideration for acceptance.
%h3 How will I get my decal?
%ul
  %li Just complete your application and make sure to include a valid address. We'll mail your laptop decal within a few weeks!
%h3 What should I expect next?
%ul
  %li We're planning to review applications in a few months. We'll notify you of your application decision once we've done so.
  %li We'll send you updates via email when we have them. In the meantime, join us on <a href='http://www.facebook.com/boilermake'>Facebook</a> and <a href='http://www.twitter.com/boilermake1'>Twitter</a>- we'd love to talk!
