We are working on creating a hackathon tailored to your every need. We want to surpass all of your expectations. We want to see the look of surprise and delight as you walk through our doors. We want to inspire you.

%h3 What’s Coming Next?
%ul
  %li We will be reviewing applications once registration has closed. Expect to hear a decision around mid-September.
  %li We have a bunch of surprises for you over the next few weeks, join us on <a href='http://www.facebook.com/boilermake'>Facebook</a> and <a href='http://www.twitter.com/boilermake1'>Twitter</a> to keep up to date.