body {
    background: white;
}

.application {
    display: block;
    width: 600px;
    margin: 0 auto;
}
.head {
    display: inline-block;
    margin-top: 100px;
    width: 100%;
    height: 160px;
    margin-bottom: 0;
    background-image: url("../img/hacker.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.head h1 {
    font-size: 4em;
    font-weight: 100;
    text-align: center;
    margin: 40px 0;
}
.nav {
    display: inline-block;
    width: 100%;
    height: 60px;
    margin: 0 0 30px 0;
    font-weight: 100;
    font-size: 1.5em;
    text-align: center;
}
.nav-active {
    display: inline-block;
    position: relative;
    float: left;
    width: 50%;
    height: 50px;
    margin: 0;
    padding-top: 10px;
    background-color: #9B9B9B;
    cursor: pointer;
}
.nav-active::after {
    content: "";
    display: inline-block;
    position: relative;
    margin-top: 17px;
    width: 100%;
    height: 14px;
    background-image: url("../img/pointer.png");
    background-repeat: no-repeat;
    background-position: center;

}
.nav-notactive {
    display: inline-block;
    position: relative;
    float: left;
    width: 50%;
    height: 40px;
    margin: 0;
    padding-top: 10px;
    background-color: #f5a623;
    cursor: pointer;
    -webkit-transition: background-color 100ms linear, height 100ms cubic-bezier(1.0, -1.0, 1.0, 3.0);
    -moz-transition: background-color 100ms linear, height 100ms cubic-bezier(1.0, -1.0, 1.0, 3.0);
    -o-transition: background-color 100ms linear, height 100ms cubic-bezier(1.0, -1.0, 1.0, 3.0);
    -ms-transition: background-color 100ms linear, height 100ms cubic-bezier(1.0, -1.0, 1.0, 3.0);
    transition: background-color 100ms linear, height  100ms cubic-bezier(1.0, -1.0, 1.0, 3.0);
}
.nav-notactive:hover {
    background-color: #e6940a;
    height: 50px;
    -webkit-transition: background-color 100ms linear, height 100ms cubic-bezier(1.0, -1.0, 1.0, 3.0);
    -moz-transition: background-color 100ms linear, height 100ms cubic-bezier(1.0, -1.0, 1.0, 3.0);
    -o-transition: background-color 100ms linear, height 100ms cubic-bezier(1.0, -1.0, 1.0, 3.0);
    -ms-transition: background-color 100ms linear, height 100ms cubic-bezier(1.0, -1.0, 1.0, 3.0);
    transition: background-color 100ms linear, height  100ms cubic-bezier(1.0, -1.0, 1.0, 3.0);
}
.nav-notactive:active {
    background-color: #f5a623;
}
.application .form .input {
    display: inline-block;
    width: 100%;
    margin: 5px 0 5px -60px;
}
.application .form .input .label {
    display: inline-block;
    position: relative;
    float: left;
    width: 150px;
    text-align: right;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.4;
    padding: 8px 4px 6px 8px;
    color: black;
}
.application .form .input .label .sub-label{
    display: inline-block;
    position: relative;
    float: right;
    width: 150px;
    text-align: right;
    font-family: "Helvetica-Neue", "Roboto";
    font-size: 0.75em;
    font-weight: 300;
    line-height: 1.4;
    padding: 8px 4px 6px 8px;
    color: black;
}
.application .form .input input, .application .form .input textarea {
    display: inline-block;
    position: relative;
    float: left;
    width: 360px;
    margin: 0 0 0 20px;
    text-align: left;
    font-size: 1em;
    color: black;
    line-height: 1.4;
    padding: 4px 6px 6px 8px;
    border: 2px solid #989898;
    border-radius: 4px;
    resize: none;
}
.application .form .input input.span-6 {
    width: 222px;
    margin: 0 0 0 20px;
}
.application .form .input input.span-2 {
    width: 18px;
    margin: 0 0 0 10px;
}
.application .form .input input.span-4 {
    width: 64px;
    margin: 0 0 0 10px;
}
.application .form .input input:focus, .application .form .input textarea:focus {   
    border-color: #989898;
    background-color: #989898;
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    color: black;
    text-align: left;
    font-size: 1em;
    line-height: 1.4;
    box-shadow: 0 1px 1px #989898 inset, 0 0 8px #989898;
    outline: 0 none;
}
.application .form .button {
    display: inline-block;
    margin: 5px 0 5px 182px;
}
.application .form .submit {
    display: inline-block;
}
.application .form .submit .button {
    display: inline-block;
    border-radius: 50px;
    padding: 4px 35px 6px 35px;
    border: 2px solid #f5a623;
    color: #f5a623;
    -webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.4;
    font-size: 1em;
    margin: 20px 0 30px 182px;
    background: none;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
.application .form .submit .button:hover {
    display: inline-block;
    border-radius: 50px;
    padding: 4px 35px 6px 35px;
    border: 2px solid #f5a623;
    color: white;
    -webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.4;
    font-size: 1em;
    margin: 20px 0 30px 182px;
    background: #f5a623;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
.application .form .submit .button:active {
    color: white;
    -webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
    background: #e6940a;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
.application .form .submit .button:focus {   
    border-color: rgba(246,167,33,1.0);
    text-align: center;
    box-shadow: none;
    outline: 0 none;
}
.application .form .submit .button:active {   
    background: #e6940a;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
.application .form .discard {
    display: inline-block;
    padding: 4px 35px 6px 35px;
    color: black;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.4;
    font-size: 1em;
    background: none;
}
.application .form .discard:hover {
    display: inline-block;
    padding: 4px 35px 6px 35px;
    -webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.4;
    font-size: 1em;
    background: none;
}
.application .form .discard a {
    color: black;
    -webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}
.application .form .discard a:hover {
    color: #f5a623;
    -webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}



@media (max-width: 768px) {
    body {
        font-size: 200%;
    }
    .application .form .input .label {
        font-weight: 300;
    }
    .application .form .input .label .sub-label{
        font-weight: 300;
    }
    .application .form .input input.span-6 {
        width: 168px;
    }
    .application .form .input input.span-2 {
        width: 36px;
    }
    .application .form .input input.span-4 {
        width: 100px;
    }
    .application .form .input input, .application .form .input textarea {
        border-radius: 8px;
    }
}