.nav
  = link_to dashboard_path do
    .nav-active
      Application
  = link_to team_path(current_user.team_id) do
    .nav-notactive
      Team
.container
  .application
    .form
      #firstname.input
        .label
          First Name
        %input{:type => "text"}/
      #lastname.input
        .label
          Last Name
        %input{:type => "text"}/
      #school.input.search
        .label
          School
        %input{:type => "text"}/
      #address-line-1.input
        .label
          Address Line 1
        %input{:type => "text"}/
      #address-line-2.input
        .label
          Address Line 2
        %input{:type => "text"}/
      #address-city-state-zip.input
        .label
          City, State, Zip
        %input.span-6{:type => "text"}/
        %input.span-2{:maxlength => "2", :type => "text"}/
        %input.span-4{:type => "text"}/
      #github.input.link
        .label
          GitHub
        %input{:type => "text"}/
      #description.input.field
        .label
          Experience
          .sub-label
            Tell us a little bit more about who you are and what you’ve done.
        %textarea{:rows => "8"}
      .submit
        %input#save.button.outline{:style => "cursor:pointer;", :type => "submit", :value => "Save"}/
