= render 'hackers/form'
- if !current_user.team
  = link_to 'New Team', new_team_path, class: 'btn btn-primary'
- else
  = link_to 'View Team', team_path(current_user.team_id)
= link_to 'Logout', logout_path
