- if flash != nil
  -flash.each do |key, value|
    .alert{ :class => "alert alert-danger" }
      %strong
        = value
.container
  %h1 
    School List
    %small
      %a= link_to("Undecided Applications >>", "undecided_applications")
  %table.table.striped.table-bordered.table-hover
    %tr
      %th School Name
      %th Applicant Count
    - @results.each do |result|
      %tr
        %td= link_to(result.name, "school/" + result.schools_id.to_s, target: "blank")
        %td= result.applicant_count