= content_for :partial_css do
  = stylesheet_link_tag 'header'
%header
  %script{:src => "//use.typekit.net/pcy4ypw.js"}
  :javascript
    try{Typekit.load();}catch(e){}
  %link{:rel => :stylesheet, :type => :"text/css", :href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet"}
