.header
  .container
    
.head
  %h1.intro Your Application
  %span.navigation
    = link_to 'Home', root_path, class: 'logo'
    = link_to 'Log Out', logout_path, id: 'logout', class: 'button outline', style: 'cursor:pointer;'
