.header
  .container
    = link_to root_path, class: 'logo-back' do
      = image_tag 'logodark.png', class: 'logo'
    = link_to 'Log Out', logout_path, id: 'logout', class: 'button outline', style: 'cursor:pointer;'
.head
  %h1 WELCOME
