.portal-wrapper.container
  .portal-header
    %h1 Resume Portal
    %h2 Welcome, #{current_user.company_name}

    %p We've prepared here a listing of all the hackers that we've decided to accept to BoilerMake. If there's any extra information you'd like to have, please contact us at team@boilermake.org

  #main-view

%script{:src => "bundle.js"}
