%canvas#background This text is displayed if your browser does not support HTML5 Canvas.

%div#logo 
	=image_tag("white-bm_logo.png", size: "250x250")
	%h1 BoilerMake
	%h2 Oct. 16-18 | Purdue University
	%input#email{:type=>"email", :placeholder=>"Enter your email"}



= render 'shared/header'
