.header
  .container
    = image_tag 'logo.png'
.container
  %h1.hero-headline.normal
    MAKE.CREATE.
    %span HACK.
  %h1.hero-headline.condensed
    MAKE.
    %br
    CREATE.
    %br/
    %span HACK.
  .hammers
    = image_tag 'hammers.svg'
  %h3.normal October 17th-19th - Purdue University
  %h3.condensed
    October 17th-19th,
    %br
    Purdue University
  %h4.normal 36 hours, 500 students, $10,000 in prizes
  %h4.condensed
    36 hours, 500 students,
    %br
    $10,000 in prizes
  .signup
    %a#register.button.outline{:style => "cursor:pointer;"} Earlybird Application
    #email.input{:style => "display:none;"}
      %input.flat-input.sign-up{:placeholder => "Email (.edu)", :type => "email"}/
      %p.error.hidden Invalid email address. Be sure to use your .edu address.
    #password.input{:style => "display:none;"}
      %input.flat-input.sign-up{:placeholder => "Password", :type => "password"}/
      %p.error.hidden Invalid password.
    #confirm-password.input{:style => "display:none;"}
      %input.flat-input.sign-up{:placeholder => "Confirm Password", :type => "password"}/
      %p.error.hidden Passwords do not match.
  %p.bottom-md
    Apply before July 15th to get an exclusive BoilerMake
    %br
    laptop decal mailed straight to your doorstep.
