%canvas#background This text is displayed if your browser does not support HTML5 Canvas.

%div#logo
  =image_tag("white-bm_logo.png", size: "250x250")
  %h1 BoilerMake
  %h2 Purdue University
  = form_for @interest_signup, :html => { :novalidate => 'novalidate: novalidate' }, remote: true, "data-type" => :json do |f|
    = f.email_field :email, placeholder: "Enter your email", novalidate: "novalidate"
%h3 Made possible by funds from SFAB



= render 'shared/header'
