%div.bg-image#bg
  %canvas#background This text is displayed if your browser does not support HTML5 Canvas.


%div.content
  .cover
    =image_tag("logo-thin-white.svg", class: "flickerIn")
    %h1.flickerIn BoilerMake
    %p.flickerIn Oct. 16–18 | Purdue University
    %div.btn-row
      %button.btn.flickerIn Apply
      %button.btn.flickerIn Sponsor
    %div.btn-row
      %button.btn-plain.flickerIn Already Registered?



= render "shared/header"
