%div.container-fluid.bm
  %div.row
    %div.logo.text-center
      =image_tag 'white-bm_logo.png'
      %div.info
        %h1 BoilerMake
        %h2 Oct. 16-18 | Purdue University
        %a{href: '#'}
          %div.applybox
            %h2 Apply Now
%div.nav_placeholder{ :style => "display: none;"}
%nav.main_nav
  %div.container-fluid
    %div.row-fluid
      %div.brand.col-md-2.col-md-offset-1
        %a{href: '#'}
          =image_tag 'bm_logo_basic.png', :class => "img-responsive"
      %ul.nav_links.col-md-4.col-md-offset-4
        %li
          %a.active{href: '#'} Apply
        %li
          %a{href: '#'} FAQ
        %li
          %a{href: '#'} Sponsors
        %li
          %a{href: '#'} Event
        
        %div.clear
%div.event.section.container
  %h3
    %span Event Info
  %div.row
    %div.timeline.col-xs-12.col-sm-4.col-md-4.col-lg-4.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1
      %div.rectangle
      %div.event.3
        %div.time
          %p 3AM
        %div.event_circle
        %div.display_info{:style => "display: none;"}
          %p Hello this is the display info we are trying to hide
        %div.detail
          %p Event Title

        %div.clear
      %div.event.2
        %div.time
          %p 8AM
        %div.event_circle
        %div.display_info{:style => "display: none;"}
          %p Hello this is the display info we are trying to hide
        %div.detail
          %p Event Title 2
        %div.clear
      %div.event.1
        %div.time
          %p 12PM
        %div.event_circle
        %div.display_info{:style => "display: none;"}
          %p Hello this is the display info we are trying to hide
        %div.detail
          %p Longer Event Title
        %div.clear
      %div.day Sunday
      %div.event.12
        %div.time
          %p 2PM
          %div.detail
          %div.clear
    %div.eventinfo.col-xs-10.col-sm-5.col-md-5.col-lg-5.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1
      %div.typographic
        %div.bm_header BoilerMake
        %div.students_header 500 Students
        %div.weekend_header 1 Huge Weekend
      %p
        Lorem ipsum dolor sit amet, sea ea oratio alienum, in vim aeterno dissentiet, pri diam assueverit ad. Et debet errem commune eos, et quas impetus concludaturque vis, ius an aliquid erroribus deterruisset. Qui officiis mandamus cu, id nec quis eripuit moderatius. Choro elaboraret referrentur nam at, saperet definitiones sea at, te possit omittam vix. Eum fastidii phaedrum repudiare ea, at maiorum efficiantur vix, pri ut laboramus consequat. Eu vel impedit sententiae.

        Alienum laboramus temporibus te duo, persius constituam cotidieque mea ei. His ea viderer referrentur, no dicam homero electram nec. Quo ridens latine te, nec an dolor convenire. Ei natum abhorreant nec, dolorem habemus pertinax in sed, an eos munere deleniti insolens. Sea ex sumo alienum conceptam, accusamus vituperatoribus nec et.


%div.sponsors.section.container
  %h3
    %span Sponsors
    %div.main_sponsor
%div.container
  %div.row
  %h3
    %span FAQ
  %div.faq_column.col-xs-10.col-sm-5.col-md-5.col-lg-5.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1
    %div.each
      %h4 Who can attend?
      %p All undergraduate, graduate, and high school students from any school are welcome. If you are under 18, we'll need a parental consent form.
    %div.each
      %h4 Will there be a standby line the day of the event?
      %p I copied these from another hackathon's website. Try and guess the hackathon. Hint: the design is on point. Points as in geometry.
    %div.each
      %h4 Who can attend?
      %p Applicants will be chosen based on a random lottery. Everyone is welcome to apply and attend! I have to add an extra line to these to even the columns, ensuring that the left column is >= the right column.
    %div.each
      %h4 Who can attend?
      %p All undergraduate, graduate, and high school students from any school are welcome. If you are under 18, we'll need a parental consent form.
  %div.faq_column.col-xs-10.col-sm-5.col-md-5.col-lg-5.col-xs-offset-1.col-md-offset-0.col-sm-offset-0.col-lg-offset-0
    %div.each
      %h4 Who can attend?
      %p All undergraduate, graduate, and high school students from any school are welcome. If you are under 18, we'll need a parental consent form.
    %div.each
      %h4 Will there be a standby line the day of the event?
      %p I copied these from another hackathon's website. Try and guess the hackathon. Hint: the design is on point. Points as in geometry.
    %div.each
      %h4 Who can attend?
      %p Applicants will be chosen based on a random lottery. Everyone is welcome to apply and attend! I have to add an extra line to these to even the columns, ensuring that the left column is >= the right column.
    %div.each
      %h4 Who can attend?
      %p All undergraduate, graduate, and high school students from any school are welcome. If you are under 18, we'll need a parental consent form.
%div.footer.section.container-fluid
  %h5 
    Copyright 2015
    =image_tag 'bm_logo_sm.png', :class => 'sm_ico'
    BoilerMake
%script{src: 'http://code.jquery.com/jquery.js'}
%script{src: 'bootstrap.min.js'}
%script{src: 'main.js'}

= render 'shared/header'
















