%p On October 17-19, 500 students will join together to shatter the standard model for hackathosn at BoilerMake. If challenges motivate you to perservere, if dreaming keeps you up at night, and if 'good' isn't good enough, you're exactly who we're looking for. Together, we're going to make hackathon history.

%p #{@name} wants you to be there, and wants to be on your team. Join <FIRSTNAME OR EMAIL> now by going to <LINK>. If you're logged in, you'll join <FIRSTNAME OR EMAIL> instantly. Otherwise, you'll need to log in or create an account. Afterward, you'll join the team automatically.
