/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.pagination li {
  list-style-type: none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  position: relative;
  float: left;
  margin-left: -1px;
}

.pagination li:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

.pagination li:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination li:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 20px;
  overflow-x:hidden;
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}
.portal-wrapper {
  background: #ffffff;
  box-shadow: 0 0 10px #CCCCCC;
  width: 40em;
  max-width: 90%;
  margin: 0 auto 4em;
  padding: 35px;
}
.portal-wrapper h1 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.7em;
  margin: 10px 0;
}
.portal-wrapper h2 {
  margin: 0 0 25px 0;
  font-size: 0.9em;
  text-align: center;
  font-family: 'Source Code Pro', sans-serif;
}
.portal-wrapper p {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.6em;
  font-style: italic;
  padding: 0 15% 25px 15%;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 25px;
}
.portal-wrapper .controls {
  margin-bottom: 15px;
  font-size: 0.8em;
}
.portal-wrapper table {

}
.portal-wrapper table th {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9em;
}
.per-page-container {
  font-size: 0.8em;
  font-family: 'Source Sans Pro', sans-serif;
}