.field {
	padding: 30px 15px;
	margin: 0 10%;
	border-top: 1px solid #eeeeee;
	.label {
		float: left;
		width: 25%;
		color: #333333;
		text-align: left;
		text-transform: uppercase;
		font-family: 'Source Code Pro', sans-serif;
		font-size: 0.9em;
		line-height: 2em;
	}
	.user-input {
		::-webkit-input-placeholder {
   			color: #CCCCCC;
		}
		:-moz-placeholder { /* Firefox 18- */
   			color: #CCCCCC;
		}
		::-moz-placeholder {  /* Firefox 19+ */
   			color: #CCCCCC;  
		}
		:-ms-input-placeholder {  
   			color: #CCCCCC;  
		}
		input, textarea {
			padding: 10px 15px;
			margin-right: 30px;
			border-radius: 2px;
			border: 1px solid #cccccc;
			font-family: 'Source Code Pro', sans-serif;
			font-size: 0.7em;
			text-transform: uppercase;
			width: 25%;
			background-color: #F1F1F1;
			color: #5B5B5B;

		}
		input:focus, textarea:focus {
			outline: 0;
			border: 1px solid #CCCCCC;
			color: #5B5B5B;
			background-color: white;
			box-shadow: 0 0 10px #EEEEEE;
		}
		textarea {
			height: 100px;
			width: 50%;
			resize: none;

		}
	}
}
.submit {
	margin: 5px 10% 35px 0;
	float: right;
	width: 10%;
}