// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

@mixin valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}




html, body {
  margin: 0;
  padding: 0;
  @media (max-width: $screen-xs-max) {
    font-size: 12px;
  }
}

*, *:after, *:before {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}




.orange-juice {
  position: fixed;
  padding: 0;
  background-color: transparent !important;
  background: url('orange-banner.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh !important;
  overflow: scroll;
  overflow-x: hidden;

  .crate {
    position: relative;
    width: 100vw;
    height: 100vh;

    .carton-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 3em;
      left: 0;
      // transition: all 0.5s ease;

      @media (max-width: $screen-xs-max) {
        padding: 0;
      }

      &.full {
        padding: 0;
      }
      &.offscreen-right {
        left: 100vw;
        // transition: all 0.5s ease;
      }
      &.offscreen-left {
        left: -100vw;
        // transition: all 0.5s ease;
      }
    }

    .carton {
      position: relative;
      height: 100%;
      width: 100%;

      &::after {
        content: "";      
        border: 1em solid white;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -10;

        @media (max-width: $screen-xs-max) {
          border: 0 solid white;
        }
      }

      @media (max-width: $screen-xs-max) {
        border: none;
      }

      &.full {
        background: white;
      }

      .row, .col {
        height: 100%;

        @media (max-width: $screen-xs-max) {
          display: block;
        }

        &.center-align-small {
          @media (max-width: $screen-xs-max) {
            height: auto;
            @include valign;
            top: 50vh !important;
          }
        }
      }
    }
  }
}
.logo {
  @include valign;
  img {
    width: 100%;
  }
  @media (max-width: $screen-xs-max) {
    transform: none;
    width: 16em;
    margin: 0 auto 2em;
  }
} 
.info {
  @include valign;
  color: white;
  font-family: 'Open Sans', sans-serif;

  @media (max-width: $screen-xs-max) {
    text-align: center;
    transform: none;
  }

  h1 {
    font-family: "futura-pt", serif;
    text-transform: uppercase;
    font-size: 4em;
    margin: 0;
    text-shadow: 0 0 20px #BF4904;
  }
  p {
    font-size: 1.6em;
    font-weight: 200;
    text-shadow: 0 0 10px #BF4904;
  }
  .btn-row {
    // margin-top: 12px;

    label {
      position: relative;
      display: block;
      color: white;
      margin-top: 6px;
      font-size: 1em;
      font-weight: 400;
    }
  }
  #applySponsor, #alreadyRegistered {
    height: 2.7em;
    transition: all 0.25s ease;
    button {
      height: 2.7em;
      transition: all 0.25s ease;
    }
    &.freshly-squeezed {
      height: 0;
      transition: all 0.25s ease;
      button {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        transition: all 0.25s ease;
      }
    }
  }
  #loginMeow {
    margin-top: 12px;
  }
  #signupForm, #loginForm {
    height: 0;
    overflow: hidden;
    transition: all 0.25s ease;

    button {
      display: inline-block;
      margin-right: 10px;
      padding: 10px 23px;
      background: #EDB54E;
      color: #BF4904;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 1.1em;
      border-radius: 4px;
      border: 0;
      text-transform: uppercase;
      transition: all 0.25s ease;
      &:hover {
        box-shadow: 0 0 10px white;
        transition: all 0.25s ease;
      }
      &:focus {
        outline: 0;
      }
    }

    &.opened {
      height: 21em;
      transition: all 0.25s ease;

      @media (max-width: $screen-xs-max) {
        height: 22em;
      }
    }
  }
  input {
    display: block;
    min-width: 16em;
    margin-right: 10px;
    padding: 6px 12px;
    background: white;
    color: #BF4904;
    font-weight: 500;
    font-size: 1.4em;
    border-radius: 3px;
    border: 2px solid white;
    outline: none;
    transition: all 0.25s ease;

    @media (max-width: $screen-xs-max) {
      margin: 0 auto;
    }

    &:hover, &:focus {
      box-shadow: 0 0 16px white;
      transition: all 0.25s ease;
    }
  }
  input[type="submit"] {
    display: inline-block;
    min-width: 0;
    margin-right: 10px;
    margin-top: 1em;
    padding: 10px 23px;
    background: #F2DA91;
    color: #BF4904;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 4px;
    transition: all 0.25s ease;
    border: 0;
    text-transform: uppercase;
    &:hover {
      box-shadow: 0 0 10px white;
      transition: all 0.25s ease;
    }
    &:focus {
      outline: 0;
    }
  }
  .apply-btn {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 23px;
    background: #F2DA91;
    color: #BF4904;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 4px;
    transition: all 0.25s ease;
    border: 0;
    text-transform: uppercase;
    &:hover {
      box-shadow: 0 0 10px white;
      transition: all 0.25s ease;
    }
    &:focus {
      outline: 0;
    }
  }
  .sponsor-btn {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 23px;
    background: #EDB54E;
    color: #BF4904;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 4px;
    border: 0;
    text-transform: uppercase;
    transition: all 0.25s ease;
    &:hover {
      box-shadow: 0 0 10px white;
      transition: all 0.25s ease;
    }
    &:focus {
      outline: 0;
    }
  }
  .login-button {
    display: inline-block;
    background: none;
    border: none;
    outline: none;
    color: white;
  }
}
#crate-2 {
  .row {
    height: auto !important;
    padding-left: 50px;
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #D96704;
    padding: 45px 0;
  }
  .main-img {
    margin-bottom: 15px;
  }
  img {
    width: 100%;
    height: auto;
  }
  .main-text {
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    font-color: #333333;
    text-align: center;
  }
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@mixin fadeIn($duration, $delay) {
  opacity: 0;
  visibility: visible;
  animation: fadeIn $duration $delay forwards;
}

.orange-juice {
  opacity: 0;

  &.animate {
    @include fadeIn(1s, 0s);
  }
  &.animateOut {
    #carton-1-1 {
      padding: 0;
      transition: all 0.5s;
      overflow: hidden;
    }
    #carton-1-1 .carton::after {
      border: 50em solid white;
      background: white;
      transition: all 0.5s;
    }
    .carton div {
      animation: fadeOut 2s forwards;
    }
  }
}

.carton { visibility: hidden; }
.animate .carton { @include fadeIn(2s, 0.5s); }
.logo { visibility: hidden; }
.animate .logo { @include fadeIn(2s, 1s); }
.info { visibility: hidden; }
.animate .info { @include fadeIn(2s, 1.25s); }








/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { }





