// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";
body, html {
  margin: 0;
  padding: 0;
  font-size: 20px;
  overflow-x:hidden;
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

@keyframes flicker {
  0% { opacity: 0; }
  9% { opacity: 0; }
  10% { opacity: 1; }
  19% { opacity: 1; }
  20% { opacity: 0; }
  29% { opacity: 0; }
  30% { opacity: 1; }
  34% { opacity: 1; }
  35% { opacity: 0; }
  49% { opacity: 0; }
  50% { opacity: 1; }
  69% { opacity: 1; }
  70% { opacity: 0; }
  84% { opacity: 0; }
  85% { opacity: 1; }
  89% { opacity: 1; }
  90% { opacity: 0; }
  99% { opacity: 0; }
  100% { opacity: 1; }
}

.flickerIn {
  opacity: 0;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.cover {
  display: block;
  width: 32em;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  img {
    width: 40%;
    margin: 0 30% 1em;
    border-radius: 1000px;

    &.flickerOver {
      box-shadow: 0 0 40px white;
      transition: box-shadow 5s;
    }
  }

  h1 {
    text-align: center;
    font-family: "futura-pt", 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #FFFFFF;
    font-size: 3.5em;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    text-align: center;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 200;
    color: #FFFFFF;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: -5px;
  }
  .scrolldown {
    p, a {
      opacity: 0.35;
      display: inline-block;
      margin-top: 2em;
      margin-bottom: 10px;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Source Code Pro', sans-serif;
      font-size: 0.7em;
      background: white;
      color: #525C5B;
      padding: 4px 6px;
      font-weight: 400;
    }
    a:hover {
      opacity: 1;
      text-underline: none;
    }
  }
}

.button-row {
  text-align: center;
  margin-bottom: 0.6em;

  .button, .button-plain {
    background: none;
    border: none;
    font-family: 'Source Sans Pro';
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
  }
  .button {
    width: auto;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 6px 10px;
    font-size: 1em;
    margin-left: 10px;
    &:first-child { margin-left: 0; }

    &:hover {
      background-color: white;
      color: #2A2A2A;
      font-weight: 200;
      cursor: pointer;
    }
  }
  .button-plain {
    font-size: 0.7em;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      background-color: white;
      color: #2A2A2A;
      font-weight: 200;
      cursor: pointer;
    }
  }
}

h3 {
  text-align: center;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 400;
  color: #888888;
  opacity: 0.75;
  font-size: .65em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: 15px;
  a {
    color: #8b814e;
    text-decoration: none;
    &:hover {
      opacity: 0.8;
    }
  }
}
h4 {
  font-family: 'Source Code Pro',sans-serif;
  text-align: center;
  font-size: 1em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#error_explanation {
  background-color: #894242;
  display: inline-block;
  width: 200px;
  margin-left: 140px;
  padding: 0 15px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  opacity: 1.0;
  ul {
    padding: 0;
    li {
      list-style: none;
      font-family: "source-code-pro", 'Source Code Pro', sans-serif;
      text-transform: uppercase;
      color: white;
      font-size: .55em;
      opacity: 0.8;
      padding-bottom: 5px;
    }
  }
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #894242;
  margin: -6px 0 0 150px;
}

.full-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  form {
    position: relative;
    top: 50%;
    width: 32em;
    max-width: 90%;
    margin: 0 auto;
    transform: translateY(-50%);

    label, input {
      display: block;
      width: 100%;
      font-family: 'Source Code Pro', sans-serif;
      font-size: 1em;
      font-weight: 200;
    }
    input {
      font-weight: 400;
      background: white;
      box-sizing: border-box;
      padding: 6px 10px;
      border: none;
      margin-bottom: 0.5em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .button-row {
      text-align: left;
      margin-top: 1em;
      .button {
        border-color: black;
        color: black;
        &:hover {
          background: black;
          color: white;
        }
      }
    }
  }
}
.loginForm {
  background-color: rgba(255,255,255,0.9);
}
.passwordForm {
  background-color: rgba(255,255,255,1.0);
}
.applyForm {
  background-color: rgba(255,255,255,0.9);
}
button {
  outline: 0;
}
input {
  border-radius: 0 !important;
}
.button:focus {
    outline: 0;
}
input:focus {
    outline: 0;
}

.alert {
  border: 1px solid;
  border-radius: 0;
  background: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 0.8em;
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
  &.alert-danger {
    background-color: #f0d8d8;
    border-color: #e9c6c6;
    color: #763c3c;
  }
  &.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  &.alert-info {
    border-color: white;
    color: white;
  }
}
.main-content {
  background-size: cover;
  background-image: url('boards_bg_faded2.jpg');
  background-attachment: fixed;
  min-height: 100vh;
  height: 40em;
}
.navigation {
  background-color: white;
  height: 70px;
  padding-top: 5px;
  box-shadow: 0 1px 10px rgba(50, 50, 50, .5);
  z-index: 100;
  .nav-content {
    width: 80%;
    margin: 0 auto;
    span.logo {
    display: inline-block;
    width: 20%;
    text-align: left;
      img {
        height: 60px;
      }
    }
    span.nav-links {
      display: inline-block;
      width: 70%;
      float: right;
      text-align: right;
      margin-top: 13px;
      a {
        margin: 0;
        display: inline-block;
        padding: 6px 10px;
        font-family: 'Source Code Pro', sans-serif;
        text-transform: uppercase;
        font-size: 0.85em;
        color: #333333;
        margin-left: 10px;
      }
      a:hover {
        text-decoration: none;
        background-color: #755853;
        color: white;
        border-radius: 2px;
      }
    }
  }
}
.about {
  background-size: cover;
  background-color: white;
  padding: 80px 0;
  margin-top: -70px;
  .body-content {
    margin: 0 auto;
    width: 80%;
    max-width: 40em;
    .col {
      width: 45%;
      display: inline-block;
      margin-right: 5%;
      vertical-align: top;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin-right: 0;
      }
    }
    .column-left {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: .95em;
      font-weight: 400;
      color: #333333;
    }
    .column-right {
      margin-right: 0;
      .video {
        display: block;
        background: url('video-preview.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 180px;
        margin-bottom: 1em;
        margin-top: 1em;
      }
      a.gallery-button {
        display: block;
        border-radius: 2px;
        border: 1px solid #879796;
        text-align: center;
        color: #879796;
        font-family: 'source-code-pro', 'Source Code Pro', sans-serif;
        font-size: 0.7em;
        padding: 12px 0;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          background-color: #879796;
          color: white;
        }
      }
    }
    .clear {
      clear: both;
    }
    h2 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 2.3em;
      text-align: left;
      color: #755853;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      margin-top: 60px;
      margin-bottom: 20px;
    }
  }
}
.fix-div {
  position: fixed;
  top: 0;
  width: 100%;
}
.replace-div {
  padding: 30px 60px;
  height: 75px;
  display: none;
}

.faq {
  background-size: cover;
  // background-color: #525C5B;
  min-height: 100vh;
  padding: 40px 0;
  .body-content {
    margin: 0 auto;
    width: 80%;
    max-width: 40em;
    h2 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 2.3em;
      text-align: left;
      color: #FFFFFF;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      margin-bottom: 20px;
    }
    a {
      font-family: 'Source Sans Pro', sans-serif;
      color: white;
      font-weight: 400;
    }
    .col {
      width: 31%;
      margin-right: 3%;
      float: left;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin-right: 0;
      }
    }
    .col-last {
      margin-right: 0;
    }
    .clear {
      clear: both;
    }
    h4 {
      font-family: 'Source Sans Pro', sans-serif;
      color: #525C5B;
      font-size: 0.75em;
      text-align: left;
      background-color: white;
      box-sizing: border-box;
      padding: 6px;
      text-transform: uppercase;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    p {
      font-family: 'Source Sans Pro', sans-serif;
      color: #FFFFFF;
      font-size: 0.75em;
      text-align: left;
      font-weight: 300;
      margin-bottom: 25px;
    }
  }
}
.sponsors {
  background-size: cover;
  background-color: white;
  padding: 80px 0;
  margin-bottom: 50px;
  .body-content {
    margin: 0 auto;
    width: 80%;
    max-width: 40em;
  }
  h2 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 2.3em;
      text-align: left;
      color: #755853;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      margin-bottom: 20px;
  }
  .sponsor {
    text-align: center;
    img {
      width: 100%;
    }
    a {
      color: #333333;
    }
  }
  .platinum {
    width: 100%;
    margin: 60px 0;
  }
  .gold {
    width: 50%;
    padding: 0 5%;
    float: left;
    margin: 30px auto;
  }
  .silver {
    width: 33%;
    padding: 0 5%;
    float: left;
    margin: 30px 0;
  }
  .bronze, .api {
    width: 25%;
    padding: 0 5%;
    float: left;
    margin: 20px 0;
  }
  .clear {
    clear: both;
  }
  .center {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
  }
}
.flash-alert {
  margin-top: 0px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.gradient-background {
  background: url('gradient.svg');
  background-size: cover;
}

.schedule {
  background-size: cover;
  padding: 40px 0;
  .body-content {
    margin: 0 auto;
    width: 80%;
    max-width: 40em;
  }
  h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.3em;
    text-align: left;
    color: #FFFFFF;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
  }
  h4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #525C5B;
    font-size: 0.75em;
    text-align: left;
    background-color: white;
    box-sizing: border-box;
    padding: 6px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 5px;
    &.margin-top {
      margin-top: 15px;
    }
  }
  .location {
    position: relative;
    &#loc1 {
      &:before {
        height: 70%;
      }
      &:after {
        content: "Co-rec";
        top: 35%;
      }
    }
    &#loc2 {
      &:before {
        height: 98%;
        border-bottom: none;
      }
      &:after {
        content: "Lambert";
        top: 49%;
      }
    }
    &#loc3 {
      &:before {
        height: 96%;
        border-top: none;
      }
      &:after {
        content: "Lambert";
        top: 48%;
      }
    }
    &#loc4 {
      &:before {
        height: 90%;
      }
      &:after {
        content: "Loeb";
        top: 45%;
      }
    }
    &:before {
      content: "";
      width: 6px;
      border: 1px solid #FFFFFF;
      top: 0;
      left: -12px;
      border-right: none;
      position: absolute;
    }
    &:after {
      // width: 70px;
      text-align: center;
      transform: translateY(-50%);
      left: -40px;
      border-right: none;
      position: absolute;
      font-family: 'Source Sans Pro', sans-serif;
      color: #FFFFFF;
      font-size: 0.75em;
      font-weight: 300;
      display: inline-block;
      vertical-align: middle;
      transform: rotate(-90deg) translateX(-50%);
      transform-origin: left top 0;
    }
  }
  .entry {
    width: 100%;
  }
  .time, .description {
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    font-size: 0.75em;
    text-align: left;
    display: inline-block;
    vertical-align: top;
  }
  .time {
    font-weight: 600;
    width: 25%;
    max-width: 56px;
  }
  .description {
    font-weight: 300;
    width: 72%;
    .details {
      display: block;
      font-size: 0.75em;
      font-style: italic;
    }
  }
  .col {
    width: 31%;
    min-width: 248px;
    margin-right: 18%;
    display: inline-block;
    vertical-align: top;
    &:last-of-type {
      margin-right: 0;
    }
    @media screen and (max-width: 768px) {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      #loc2:before {
        height: 167%;
        border-bottom: 1px solid #FFFFFF;
      }
      #loc2:after {
        top: 83.5%;
      }
      #loc3:before, #loc3:after {
        display: none;
      }
    }    
  }
}

.locations {
  background-size: cover;
  padding: 40px 0;
  .body-content {
    margin: 0 auto;
    width: 80%;
    max-width: 40em;
  }
  h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.3em;
    text-align: left;
    color: #FFFFFF;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
  }
  h4 {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    color: #525C5B;
    font-size: 0.5em;
    text-align: left;
    background-color: white;
    box-sizing: border-box;
    padding: 6px;
    margin-bottom: 15px;
    margin-top: 5px;
    text-transform: none;
    &.margin-top {
      margin-top: 15px;
    }
    span {
      text-transform: uppercase;
      font-size: 1.5em;
    }
    &:after {
      content: "";
      background: url('whitearrow.svg');
      background-size: 100% 100%;
      background-position: left;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -19px;
      width: 12px;
      height: 14px;
    }
  }
  .col {
    width: 212px;
    margin-right: 20px;
    display: inline-block;
    &:last-child {
      margin-right: 0;
      h4:after {
        display: none;
      }
    }
    @media screen and (max-width: 768px) {
      display: block;
      width: 212px;
      margin-bottom: 52px;
      h4:after {
        top: 280px;
        left: 50%;
        right: auto;
        transform: rotate(90deg) translateY(50%);
      }
    }
  }
}
.updates {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  opacity: .9;
  box-shadow: 0 1px 10px rgba(50, 50, 50, .3);
  ul {
    width: 100%;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.7em;
    list-style: none;
    li {
      padding: 20px;
      float: left;
      color: #CCCCCC;
      border-left: 1px solid #CCCCCC;
      width: 33%;
      max-width: 33%;
      text-align: center !important;
      &:first-child {
        color: #525C5B;
        border: 0;
        opacity: 0.85;
      }
      a {
        font-family: 'Source Code Pro', sans-serif;
        font-size: 1.1em;
        text-decoration: none;
        color: #6e4841;
        &:hover {
          background-color: #6e4841;
          color: white;
        }
      }
    }
  }
}
