// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";
html, body {
	margin: 0;
	padding: 0;
}
.bm {
	background-color: transparent !important;
	background: url('purduebg.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	height: 100vh !important;
}
.logo {
	img {
		width: 22%;
		height: auto;
		margin: 20px auto 0 auto;
		min-width: 200px !important;
	}	
	.info {
		width: 30%;
		margin: 0 auto;
		white-space: nowrap;
		min-width: 200px !important;
	}
	h1 {
		font-family: "futura-pt", serif;
		font-weight: 400;
		font-size: 3.2em;
		text-transform: uppercase;
		text-align: center;
		color: white;
		margin: -20px 0 0 0 !important;

	}
	h2 {
		font-family: "futura-pt", serif;
		font-weight: 600;
		font-size: 1.1em;
		text-transform: uppercase;
		text-align: center;
		color: white;
		margin: -5px 2px 0 0 !important;
	}
	.applybox {
		border: 3px solid white;
		border-radius: 2px;
		margin: 50px auto 0 auto !important;
		padding: 13px 0 !important;
		width: 65%;
		h2 {
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
			font-size: 1.2em;
			text-transform: uppercase;
			text-align: center;
			color: white;
			padding: 5px 0 0 3px !important;
		}
		&:hover {
			background-color: white;
			h2 {
				color: #333333;
			}
		}
	}
}
a {
	text-decoration: none !important;
}
.main_nav {
	height: 60px;
	padding: 15px 0;
	background-color: white !important;
	z-index: 5;
	.container-fluid {
		height: 100%;
	}
}
.nav_links {
	list-style: none;
	float: left;
	li {
		float: right;
		line-height: 60px;
		text-align: center;
		display: block;
		margin-left: 35px !important;
		text-transform: uppercase;
		a {
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
			color: #333333;
			font-size: 1.1em;
			text-align: center;
			&:hover {
				color: #EAD659;
			}
		}
	}
}
.brand {
	float: left;
	img {
		min-height: 60px !important;
		min-width: 60px !important;
		max-height: 60px !important;
	}
}
.clear {
	clear: both;
}
.fixed{
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
}
.nav_placeholder {
	height: 60px;
	display: block;
	background-color: white;
}
h3 {
	text-align: center;
	span {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 0.85em;
		color: #333333;
		border: 3px solid #333333;
		padding: 15px 0 !important;
		width: 20%;
		min-width: 200px !important;
		display: inline-block;
		text-transform: uppercase;
		margin: 25px 0;
		border-radius: 2px;

	}
}
h5 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 0.8em;

}
.sm_ico {
	height: 20px !important;
	width: 20px !important;
	margin-top: -2px;
	padding-right: 2px;
	user-drag: none;
	-webkit-user-drag: none;
}
.section {
	margin-bottom: 25px;
}
.each {
	margin-bottom: 15px;
	padding: 8px 15px;
	h4 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 0.9em;
		color: #333333;
		text-align: center;
		margin: 8px !important;
	}
	p {
		font-family: 'Open Sans', sans-serif;
		font-size: 0.85em;
		font-weight: 300;
		line-height: 1.7em;
	}
}
.footer {
	margin-top: 35px;
}
.timeline {
	margin-top: 10px;
	.rectangle {
		position: absolute;
		left: 75px;
		top: -15px;
		width: 3px;
		background-color: #333333;
		height: 100%;
		z-index: -1;
	}
	.day {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		width: 125px;
		background-color: white;
		padding: 3px 0;

	}
	.event {
		margin-bottom: 30px;
		.time {
			float: left;
			width: 56px;
			p {
				font-family: 'Open Sans', sans-serif;
				font-weight: 600;
				font-size: 13px;
				text-align: center;
				line-height: 22px;
			}
			text-wrap: none;
		}
		.detail {
			float: left;
			margin-left: 10px;
			text-wrap: none;
			p {
				text-wrap: none;
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				text-transform: uppercase;
				font-size: 1.1em;
				height: 85px;
			}

		}
		.display_info {
			background-color: #EAD659;
			padding: 20px;
			border-radius: 15px;
			display: inline-block;
			width: 214px;
			margin-left: 15px;
			color: white;
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;
			font-size: 0.9em;
			position: relative;
			top: -32px;
			height: 85px;
		}
		.event_circle{
			height: 10px;
			width: 10px;
			margin-top: 6px;
			background-color: #FCE556;
			outline: white solid 4px;
			border-radius: 50%;
			float: left;
		}

	}
}
