// Place all the styles related to the Updates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url("/assets/hero2.jpg");
}
a {
  color: white;
  text-decoration: underline;
}
h2 {
  color: #f5a623;
}

.update-header{
  .update-timestamp{
    ;
  }
  .update-title{
    ;
  }
}

.text-options {
  margin-left: 20px;
}


.container {
  width: 32em;
  max-width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  color: black;
  border-radius: 1em;
  margin-top: 2em;
  padding: 0;
  padding-top: 1em;
  box-sizing: border-box;
  margin-bottom: 2em;
  > h1 {
    margin: 0;
    margin-left: 16px;
    margin-bottom: 16px;
  }
  > a {
    color: #f5a623;
    text-decoration: none;
    margin-left: 16px;
    margin-bottom: 16px;
    display: block;
  }
  .update {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    padding-top: 0;
    border-top: 1px solid #dddddd;
    .update-header {
      position: relative;
      margin-bottom: 1em;
      width: 100%;
      height: 1.2em;
      margin-top: 1em;
      .update-title {
        width: 70%;
        font-weight: 300;
        margin: 0;
        margin-bottom: 0;
        display: inline-block;
        float: left;
      }
      .update-timestamp {
        position: relative;
        margin: 0;
        width: 30%;
        font-size: 0.8em;
        display: inline-block;
        text-align: right;
        float: left;
        top: 12px;
      }
    }
    .update-header-bottom {
      width: 100%;
      border-bottom: 1px solid #dddddd;
      margin-bottom: 1em;
    }
  }
}
