// Place all the styles related to the Updates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url("/assets/hero2.jpg");
}
a {
  color: white;
  text-decoration: underline;
}
h2 {
  color: #f5a623;
}

.update-header{
  .update-timestamp{
    ;
  }
  .update-title{
    ;
  }
}

.text-options {
  margin-left: 20px;
}
